// start with imports (order is important)
@import "./modules/_reset.scss";
@import "./modules/_var.scss";

// import mobile styles first
@import "./modules/_default.scss";
@import "./modules/_queries.scss";

// component files next
@import "./modules/_main.scss";

// atomic files go here
@import "./modules/_navMenu.scss";
@import "./modules/_features.scss";
@import url('http://fonts.cdnfonts.com/css/ligurino-condensed');