@import url("http://fonts.cdnfonts.com/css/ligurino-condensed");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

.hidden {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

body, html {
  width: auto;
  height: auto;
  text-align: center;
  font-family: "Ligurino Condensed", arial, sans-serif;
  font-family: "Ligurino", arial, sans-serif;
  background-image: linear-gradient(180deg, #DFF5F7, #33AADE);
}

.container {
  width: 100%;
  height: 100%;
}

section {
  margin-top: 3.2rem;
}

.nav_logo img {
  cursor: pointer;
}

@media screen and (min-width: 428px) and (max-width: 766px) {
  p {
    font-size: 1rem;
  }
  .about h2 {
    font-size: 2.2rem;
  }
  .about p {
    line-height: 1.2rem;
  }
  .feature h2 {
    font-size: 2.2rem;
  }
  .feature_container,
.weather_container,
.temperature_container {
    margin: 0 2rem;
  }
  .feature {
    margin: 0 auto;
  }
  .feature h2 {
    color: white;
    filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.0862745098));
    margin-bottom: 1rem;
  }
  .feature_container,
.weather_container,
.temperature_container {
    width: auto;
    background-color: rgba(255, 255, 255, 0.4392156863);
    border-radius: 20px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.062745098);
    font-size: 1rem;
  }
  .feature_container img {
    width: 2.3rem;
  }
  .feature_box {
    padding: 1.5rem;
  }
  .feature_1 {
    padding-top: 2rem;
  }
  .feature_row {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
  }
  .feature_row p {
    margin: 0 auto;
    padding-left: 2rem;
  }
  .feature_row img {
    justify-content: left;
  }
  .feature_4 img {
    width: 3rem;
  }
  .weather h2,
.temperature h2 {
    font-size: 1.875rem;
    color: white;
    filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.0862745098));
    margin-bottom: 1rem;
  }
  .weather_container {
    color: white;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.1882352941));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
  }
  .weather {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  .updates .weather_icon img {
    width: 6rem;
  }
  .weather_text p {
    padding-bottom: 0.4rem;
  }
  .weather_container .weather_h {
    font-size: 1.5rem;
  }
  .weather_p {
    font-size: 1rem;
  }
  .weather_forecast {
    font-size: 1rem;
  }
  .forcast_icon img {
    width: 2.2rem;
    padding: 0.5rem 0;
  }
  .weather_icon,
.weather_text,
.weather_forecast {
    padding: 1.875rem 1.3rem;
  }
  .temperature {
    margin-top: 3.2rem;
  }
  .temperature_container {
    position: relative;
  }
  .temperature_container p {
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 5rem;
  }
  .temperature_container img {
    padding: 3rem;
  }
  .temperature .tem_p {
    font-size: 1rem;
    padding: 0 2rem;
    margin: 1rem;
    line-height: 1.3rem;
  }
  .footer_logo {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  p {
    font-size: 1.2rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 2.8rem;
    padding-bottom: 1rem;
  }
  .updates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 7rem 0;
  }
  .tem_p {
    display: none;
  }
  h2,
.about p,
.feature_container,
.updates {
    margin: 0 2.5rem;
  }
  .feature_box {
    padding: 2rem;
  }
  .weather {
    margin-right: 3rem;
  }
  .temperature {
    margin-left: 3rem;
  }
  .weather_text {
    padding: 0 2rem;
  }
  .weather_container {
    width: 18.75rem;
    height: 18.75rem;
    padding: 2rem;
    align-items: center;
    margin: 0 auto;
  }
  .weather_icon img {
    height: 6rem;
  }
  .weather_h {
    font-size: 1.5rem;
  }
  .weather_p {
    font-size: 1rem;
    margin-top: -1rem;
  }
  .weather_forecast {
    display: flex;
    flex-direction: column;
    padding: 0 0;
    margin: 0 0;
  }
  .forcast_icon img {
    width: 2.2rem;
    height: auto;
  }
  .forcast_icon p {
    display: none;
  }
  .degree_15 {
    margin-top: -1.2rem;
  }
  .temperature_container img {
    width: 20.6rem;
    height: auto;
    padding: 2rem;
  }
  form {
    margin: 0 2.5rem;
  }
  .footer_logo img {
    width: 13rem;
    height: auto;
    padding-bottom: 1.3rem;
    cursor: pointer;
  }
  .footer p {
    margin-bottom: 2.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .about {
    width: 100%;
  }
  .about img {
    width: 100%;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  p {
    font-size: 1.2rem;
  }
  .about_content,
.feature_container,
.weather_container,
.temperature_container {
    margin: 0 3.5rem;
  }
  .feature_row {
    padding: 1rem;
  }
  .feature_box {
    margin: 0 8rem;
    padding: 3rem 0;
  }
  .feature_row img {
    width: 3rem;
  }
  .about_content p {
    line-height: 1.6rem;
  }
  .weather,
.temperature {
    margin: 10rem 0;
  }
  .updates {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
  }
  .weather {
    width: 58rem;
    height: auto;
  }
  .weather_icon {
    width: 20rem;
    height: auto;
  }
  .weather_icon,
.weather_text,
.weather_forecast {
    padding: 2rem;
  }
  .weather_h {
    font-size: 2.2rem;
    padding-bottom: 1rem;
  }
  .weather_p {
    padding-bottom: 0.7rem;
    font-size: 1.2rem;
  }
  .forcast_temperature {
    margin-bottom: 1rem;
  }
  .forcast_temperature p {
    padding-bottom: 0.5rem;
  }
  .forcast_icon img {
    width: 5rem;
  }
  .forcast_icon p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-top: 1rem;
  }
  .weather_container {
    padding: 2rem;
  }
  .temperature_container {
    width: 30rem;
  }
  .temperature_container img {
    width: 23.5rem;
    padding: 3rem;
  }
  .temperature p {
    display: none;
  }
  form {
    margin: 0 3rem;
  }
  .contactForm_div {
    margin: 2rem 0;
  }
  .footer_logo {
    padding: 0 0 2rem 0;
  }
  .footer_logo img {
    width: 10rem;
    height: auto;
  }
  .footer p {
    padding-bottom: 1rem;
  }
}
.about {
  margin: 10.2rem auto 7.2rem auto;
}

.about_img {
  width: auto;
}

.about_content h2 {
  color: white;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.0862745098));
  margin-top: 3.2rem;
  margin-bottom: 1rem;
}

.about_content p {
  padding: 0 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #DFF5F7;
  margin: 0 auto;
  z-index: 100;
}

.nav {
  height: 7.2rem;
  align-items: center;
  box-shadow: 2px 2px 10px rgba(131, 131, 131, 0.2509803922);
}

.nav_logo {
  margin: 0 auto;
  transition: 0.4s;
}

.nav_logo img {
  margin: 1.2rem auto;
  width: 178px;
  height: auto;
}

.nav_menu {
  position: fixed;
  justify-content: center;
  justify-self: center;
  margin: 0.1rem 0;
  bottom: 0.1rem;
  background-color: white;
  width: 100%;
  border-radius: 20px 20px 0 0;
  padding: 1rem 2.25rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  align-items: center;
  box-shadow: -3px -3px 5rem rgba(131, 131, 131, 0.2509803922);
}

.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.nav_link {
  color: black;
  font-size: 1.25rem;
  display: grid;
  border-radius: 5rem;
  text-decoration: none !important;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.nav_link:hover {
  color: #33AADE;
}

.about_item,
.product_item,
.contact_item {
  padding: 1rem 6rem 1rem 0;
}

.nav_link img {
  width: 1.8rem;
  height: auto;
  cursor: pointer;
}

.cart {
  padding: 18px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.cart:hover {
  background-color: #33AADE;
}

.feature {
  margin: 0 auto;
}

.feature h2 {
  color: white;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.0862745098));
}

.feature_container,
.weather_container,
.temperature_container {
  width: auto;
  background-color: rgba(255, 255, 255, 0.4392156863);
  border-radius: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.062745098);
}

.feature_container img {
  width: 2.3rem;
}

.feature_1 {
  padding-top: 2rem;
}

.feature_row {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  margin: 0 auto;
}

.feature_row p {
  margin: 0 auto;
  padding-left: 2rem;
  line-height: 1.7rem;
}

.feature_row img {
  justify-content: left;
}

.feature_4 img {
  width: 3rem;
}

.weather h2,
.temperature h2 {
  font-size: 1.875rem;
  color: white;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.0862745098));
  margin-bottom: 1rem;
}

.weather_container {
  color: white;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.1882352941));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 766px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}

.product_image {
  width: 766px;
  background-color: black;
  height: 100%;
  clear: both;
  position: relative;
  transition: left 2s;
}

.slide {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#slide_1 :target ~ .product_image {
  left: 0px;
}

#slide_2 :target ~ .product_image {
  left: -766px;
}

#slide_3 :target ~ .product_image {
  left: -1532px;
}

#slide_4 :target ~ .product_image {
  left: -2298px;
}

#slide_5 :target ~ .product_image {
  left: -3064px;
}

#slide_6 :target ~ .product_image {
  left: -3860px;
}

.slider_dots a {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 3.1rem;
  background-color: #ffffff;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.1254901961));
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.price_btn {
  height: 3rem;
  width: 7.5rem;
  border: none;
  border-radius: 10rem;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.1254901961));
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.price_btn:hover {
  background-color: #293241;
  color: white;
}

.contact {
  margin-top: 3.2rem;
}

.contact_header {
  font-size: 2.2rem;
  color: white;
  filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.0862745098));
  margin-bottom: 1rem;
}

.contact_container {
  background-color: rgba(255, 255, 255, 0.3960784314);
}

form {
  padding: 5rem 2rem;
  font-size: 1.25rem;
}

.contactForm_div {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 0.7rem;
}

form input {
  height: 3.6rem;
}

form input, form textarea {
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.062745098));
  border-radius: 2rem;
  border: none;
  margin-bottom: 2rem;
}

input::-moz-placeholder {
  text-align: center;
  font-size: 1rem;
  opacity: 10%;
}

input:-ms-input-placeholder {
  text-align: center;
  font-size: 1rem;
  opacity: 10%;
}

input::placeholder {
  text-align: center;
  font-size: 1rem;
  opacity: 10%;
}

textarea::-moz-placeholder {
  margin-top: 1rem;
  padding: 0.8rem auto;
  text-align: center;
  font-size: 1rem;
  opacity: 10%;
  font-family: ligurino;
  color: black;
}

textarea:-ms-input-placeholder {
  margin-top: 1rem;
  padding: 0.8rem auto;
  text-align: center;
  font-size: 1rem;
  opacity: 10%;
  font-family: ligurino;
  color: black;
}

textarea::placeholder {
  margin-top: 1rem;
  padding: 0.8rem auto;
  text-align: center;
  font-size: 1rem;
  opacity: 10%;
  font-family: ligurino;
  color: black;
}

input[type=text] {
  width: 100%;
  text-align: center;
  padding: 0.8rem auto;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  text-align: center;
  padding: 0.8rem auto;
  box-sizing: border-box;
  resize: none;
}

.button {
  height: 3rem;
  width: 7.5rem;
  border: none;
  border-radius: 10rem;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.1254901961));
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.button:hover {
  background-color: #293241;
  color: white;
}

footer {
  font-size: 1rem;
  color: white;
  margin-top: 3.2rem;
  margin-bottom: 10.2rem;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1882352941);
}

.footer_container {
  padding: 2rem;
}

footer p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.3rem;
  margin-bottom: 1rem;
}

footer img {
  width: 1.875rem;
  height: 1.875rem;
}/*# sourceMappingURL=main.css.map */