.about {
    margin: 0 auto;
}
.about_img {
    width: auto;
}
.about_content h2 {
    font-size: 2.2rem;
    color: white;
    filter: drop-shadow(0 3px 5px #00000016);
    margin-bottom: 1rem;
}

.about_content p {
    margin: 0 auto;
    padding-left: 2rem;
}