.about {
    margin: 10.2rem auto 7.2rem auto;
}
.about_img {
    width: auto;
}
.about_content h2 {
    font-size: 2.2rem;
    color: white;
    filter: drop-shadow(0 3px 5px #00000016);
    margin-top: 3.2rem;
    margin-bottom: 1rem;
}

.about_content p {
    padding: 0 2rem;
    line-height: 1.2rem;
}