.contact {
    margin-top: 3.2rem;
}

.contact_header {
    font-size: 2.2rem;
    color: white;
    filter: drop-shadow(0 3px 5px #00000016);
    margin-bottom: 1rem;
}

.contact_container {
    background-color: #ffffff65;
}

form {
    padding: 5rem 2rem;
    font-size: 1.25rem;
}

.contactForm_div {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: .7rem;
}

form input {
    height: 3.6rem;
}

form input, form textarea {
    filter: drop-shadow(0 3px 3px #00000010);
    border-radius: 2rem;
    border: none;
    margin-bottom: 2rem;
}

input::placeholder {
    text-align: center;
    font-size: 1rem;
    opacity: 10%;
}

textarea::placeholder {
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    opacity: 10%;
    font-family: ligurino;
}

.button {
    height: 3rem;
    width: 7.5rem;
    border: none;
    border-radius: 10rem;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    filter: drop-shadow(0 3px 3px #00000020);
    transition: all .2s ease-in;
    cursor: pointer;
}

.button:hover {
    background-color: #293241;
    color: white;
}