.feature {
    margin: 0 auto;
}

.feature h2 {
    font-size: 2.2rem;
    color: white;
    filter: drop-shadow(0 3px 5px #00000016);
    margin-bottom: 1rem;
}

.feature_container,
.weather_container,
.temperature_container {
    width: auto;
    background-color: #ffffff70;
    border-radius: 20px;
    box-shadow: 0px 3px 5px #00000010;
    font-size: 1rem;
    margin: 0 2rem;
}

.feature_container img {
    width: 2.3rem;
}

.feature_box {
    padding: 1.5rem;
}

.feature_1 {
    padding-top: 2rem;
}

.feature_row {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.feature_row p {
    margin: 0 auto;
    padding-left: 2rem;
}

.feature_row img {
    justify-content: left;
}

.feature_4 img {
    width: 3rem;
}

.weather {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.weather h2,
.temperature h2 {
    font-size: 1.875rem;
    color: white;
    filter: drop-shadow(0 3px 5px #00000016);
    margin-bottom: 1rem;
}

.weather_container {
    color: white;
    filter: drop-shadow(0 3px 3px #00000030);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.updates .weather_icon img {
    width: 6rem;
}

.weather_text p {
    padding-bottom: .4rem;
}

.weather_container .weather_h {
    font-size: 1.5rem;
}

.weather_p {
    font-size: 1rem;
}

.weather_forecast {
    font-size: 1rem;
}

.forcast_icon img {
    width: 2.2rem;
    padding: .5rem 0;
}

.weather_icon,
.weather_text,
.weather_forecast {
    padding: 1.875rem 1.3rem;
}

.temperature {
    margin-top: 3.2rem;
}

.temperature_container img {
    padding: 3rem;
}

.temperature .tem_p {
    font-size: 1rem;
    padding: 0 2rem;
    margin: 1rem;
    line-height: 1.3rem;
}