.feature {
    margin: 0 auto;
}

.feature h2 {
    font-size: 2.2rem;
    color: white;
    filter: drop-shadow(0 3px 5px #00000016);
    margin-bottom: 1rem;
}

.feature_container {
    width: auto;
    background-color: #ffffff70;
    border-radius: 20px;
    box-shadow: 0px 3px 5px #00000010;
    font-size: 1rem;
    margin: 0 2rem;
}

.feature_container img {
    width: 2.3rem;
}

.feature_box {
    padding: 1.5rem;
}

.feature_1 {
    padding-top: 2rem;
}

.feature_row {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.feature_row p {
    margin: 0 auto;
    padding-left: 2rem;
}

.feature_row img {
    justify-content: left;
}

.feature_4 img {
    width: 3rem;
}