.feature {
    margin: 0 auto;
}

.feature h2 {
    color: white;
    filter: drop-shadow(0 3px 5px #00000016);
}

.feature_container,
.weather_container,
.temperature_container {
    width: auto;
    background-color: #ffffff70;
    border-radius: 20px;
    box-shadow: 0px 3px 5px #00000010;
}

.feature_container img {
    width: 2.3rem;
}

.feature_1 {
    padding-top: 2rem;
}

.feature_row {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
}

.feature_row p {
    margin: 0 auto;
    padding-left: 2rem;
    line-height: 1.7rem;
}

.feature_row img {
    justify-content: left;
}

.feature_4 img {
    width: 3rem;
}

.weather h2,
.temperature h2 {
    font-size: 1.875rem;
    color: white;
    filter: drop-shadow(0 3px 5px #00000016);
    margin-bottom: 1rem;
}

.weather_container {
    color: white;
    filter: drop-shadow(0 3px 3px #00000030);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}