.slider {
    width: 766px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    overflow: hidden;
}

.product_image {
    width: 766px;
    background-color: black;
    height: 100%;
    clear: both;
    position: relative;

    -webkit-transition: left 2s;
    -moz-transition: left 2s;
    -o-transition: left 2s;
    transition: left 2s;
}

.slide {
    float: left;
    margin: 0px;
    padding: 0px;
    position: relative;
}

#slide_1 :target ~ .product_image {
    left: 0px;
}

#slide_2 :target ~ .product_image {
    left: -766px;
}

#slide_3 :target ~ .product_image {
    left: -1532px;
}

#slide_4 :target ~ .product_image {
    left: -2298px;
}

#slide_5 :target ~ .product_image {
    left: -3064px;
}

#slide_6 :target ~ .product_image {
    left: -3860px;
}

.slider_dots a {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 3.1rem;
    background-color: #ffffff;
    filter: drop-shadow(0 3px 3px #00000020);
    transition: all .2s ease-in;
    cursor: pointer;
}

.price_btn {
    height: 3rem;
    width: 7.5rem;
    border: none;
    border-radius: 10rem;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    filter: drop-shadow(0 3px 3px #00000020);
    transition: all .2s ease-in;
    cursor: pointer;
}

.price_btn:hover {
    background-color: #293241;
    color: white;
}
